<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>

    {{>navbar}}


    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row" style="display: flex;justify-content:center; align-items:center;flex-direction:column;">
                    
                    <!-- left side div -->
                    <div class=" align-item-center">
                        <h1 class="errornumber">{{errornumber}}</h1>
                    </div>

                    <h1 class="errorMsg">{{errorMsg}}</h1>
                    <a href="/"><button>Go back</button></a>


                </div>
            </div>
        </div>
    </div>

    <!-- footer  -->
    {{>footer}}

</body>

</html>