<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>

    {{>navbar}}


    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main-header-right align-item-center my-image">
                        <figure>
                            <img src="img/about.png" alt="picture" class="img-fluid" style="width: 325px;">
                        </figure>

                    </div>

                    <!-- left side div -->
                    <div class="col-md-6 col-12 main-header-left">
                        {{!-- <p class="portfolio">Welcome to the weather app</p> --}}
                        <h1>I am a <span>student</span> at Chandigarh Engineering Collage, I am <span>Web Developer</span> </h1>
                        <a href="/portfolio"><button class="my-port">My Portfolio</button></a>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer  -->
    {{>footer}}

</body>

</html>